@charset "ISO-8859-1";

.search_field {
    display: flex;
    flex-direction: row;
}

.table-content:last-child {
    border: 0;
}

table {
    border: 0;
}
table.table.table-bordered {
    border-right: 0;
    border-bottom: 0;
}