@charset "ISO-8859-1";

.search_field {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

#function-area {
    width: 100%;
    height: fit-content;
}

.search_field form{
    margin-right: 10px;
}


.table-content:last-child{
    border: 0;
}

.table-bordered>tbody>tr>td.table-content {
	border: 0;
}

table {
    border: 0;
}

table.table.table-bordered {
    border-right: 0;
    border-bottom: 0;
}

td.table-content{
    display: flex;
    flex-direction: row;    
}

td.table-content form{
    margin-right: 10px;
}
